<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head>
<script src="/assets/js/addFlight.js"></script>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <header th:replace="admin/fragments/header :: header"></header>

  <aside th:replace="admin/fragments/sidebar :: sidebar"></aside>

  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Quản lý chuyến bay
      </h1>
    </section>

    <section class="content">

     <div class="col-md-8">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Thêm mới chuyến bay</h3>
            </div>
            <form role="form" id="addFlight">
              <div class="box-body">
                <div class="form-group">
                  <label for="Flight_number">Chuyến bay</label>
                  <input type="text" class="form-control" id="Flight_number" name="flightNumber" required >
                </div>
                <div class="form-group">
                  <label for="Departure_city">Điểm khởi hành</label>
                  <input type="text" class="form-control" id="Departure_city" name="departureCity" required  >
                </div>
                <div class="form-group">
                  <label for="Arrival_city">Điểm đến</label>
                  <input type="text" class="form-control" id="Arrival_city" name="arrivalCity" required>
                </div>
                <div class="form-group">
                  <label for="Departure_date">Ngày khởi hành</label>
                  <input type="date" class="form-control" id="Departure_date" name="departureDate" required>
                </div>
                <div class="form-group">
                  <label for="Arrival_date">Ngày đến</label>
                  <input type="date" class="form-control" id="Arrival_date" name="arrivalDate" required>
                </div>
                <div class="form-group">
                  <label for="Departure_time">Thời gian khởi hành</label>
                  <input type="time" class="form-control" id="Departure_time" name="departureTime" required>
                </div>
                <div class="form-group">
                  <label for="Arrival_time">Thời gian đến</label>
                  <input type="time" class="form-control" id="Arrival_time" name="arrivalTime" required>
                </div>
                <div class="form-group">
                  <label for="Price">Giá(VNĐ)</label>
                  <input type="text" class="form-control" id="Price" name="price" required>
                </div>
                <div class="form-group">
                  <label for="Available_seats">Ghế trống</label>
                  <input type="text" class="form-control" id="Available_seats" name="availableSeats" required>
                </div>
              </div>
              <div id="message" class="" style="margin-left: 10px;"></div>
              <div class="box-footer">
                <button type="submit" class="btn btn-primary" >Thêm</button>
              </div>
            </form>
          </div>
        </div>
    </section>
  </div>

  <footer th:replace="admin/fragments/footer :: footer"></footer>

</div>
<script>
  document.getElementById('Price').addEventListener('input', function(e) {
    let value = e.target.value;

    // Xóa các ký tự không phải số và dấu chấm
    value = value.replace(/[^0-9]/g, '');

    let formattedValue = new Intl.NumberFormat('vi-VN').format(value);

    e.target.value = formattedValue;
  });

  // Khi submit form
  document.getElementById('addFlight').addEventListener('submit', function(e) {
    e.preventDefault();

    let priceInput = document.getElementById('Price').value;

    let priceWithoutDots = priceInput.replace(/\./g, '');

    document.getElementById('Price').value = priceWithoutDots;

  });
</script>
</body>
</html>
